.App {

}

.fillHeight {
  height: 100%;
}

#root {
  height: 100%;
}

body{
  background-color: rgb(211,211,211);
  height: 100%;
}

html {
  height: 100%;
}

.App-logo {
  height: 80px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

#root {
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
